//--------------------------------------------------------------
// # Variables / https://www.figma.com/file/bAnXDNqRKCRRP8mY2gcb5p/UI-Design-Kasa-FR?node-id=6%3A25
//--------------------------------------------------------------
$color__primary: #FF6060;
$color__gray: #C4C4C4;

$font-family: 'Montserrat';